/* Đặt ảnh nền cho background
body {

	background-image: url(../images/green_grass_field-wide.jpg);
	background-repeat: no-repeat;  
	background-attachment: fixed;
}

*/
/* --------------------------------- Header -------------------------------------------*/
.navbar-default {
	border-radius: 0px;
	border: none;
	background: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 999;
	display: block;
}

.navbar-brand>img {
    display: inline-block;
}

.navbar-default .navbar-nav>li>a:hover {
    font-size: 20px;
}



/*----------------------------------- Suggestions -------------------------*/
.Suggestions {
	padding: 50px 0;
}

.title-Suggesstion {
	font-size: 25px;
}

/*-------------------------------------Content -------------------------------------*/

/*------------------------------------- Calendar -----------------------------*/
.loi-chao {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	margin-bottom: 10px;
	color: #fff;

}

.thu {
	font-size: 20px;
	padding-left: 20px;
	color: #0080FF;
}

.date {
	padding-left: 20px;
	font-size: 17px;
}


/*------------------------------------ App list ------------------------------*/
.background-list {
	background: rgba(0, 0, 0, 0.8);
	padding: 40px 0px;
	border-radius: 12px;
	margin-bottom: 10px;
}

.background-list ul>li {
	margin: 10px 0;
}

.app {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
}

.app-background {
	padding: 10px 0px;
	border-radius: 12px;
	border-color: #000;
	border: 1px solid #2196f3;
} 

.app-icon {
	padding: 40px;
}

.name-app {
	text-align: center;
	margin-bottom: 5px;
}
.name-app a {
	color: #008EFF;
	text-decoration: none;
}

.detail {
	padding: 0px 10px;

}

.tile-tyle {
	font-size: 18px;
	color: #FF9800;
}
.description {
	margin-top: 10px;
	font-size: 18px;
	color: #00BCD4;
}


/*-------------------------------------------------Padding --------------------------------------------*/
.padding {
	text-align: right;
	margin: 30px 0px;
}

.background-p {
	padding: 10px;
	background: #673ab7;
	margin-left: 8px;
	color: #fff;
	font-size: 20px;
	border-radius: 6px;

}


/*------------------------------------------- Danh mục ------------------------------------------------*/

.danh-muc .container{
	background: #e0e0e0;
	border-radius: 6px;
}

.title-dm {
	
	font-size: 2.5em;
	color: #000;
	margin-bottom: 25px;

}

.list-dm {
	list-style: none;
	padding-left: 0px;
	
}

.list-dm li>a {
	font-size: 22px;
	color: #0067b8;

}


/*---------------------------------------------- other store -------------------------------------------*/

.other-store {

	
	margin: 30px 0;
	
}


.other-store .row {
	padding: 50px 0;
	background: #1565c0;
	border-radius: 6px;
	
	
} 
.title-store {
	color: #fff;
	font-size: 25px;
	margin-top: 6px;
}


/*---------------------------------------------- footer ------------------------------------------------*/
footer {
	
	margin-top:  20px;
}

footer .container {
	padding: 40px 0;

	
}

.title-footer {
	font-size: 25px;
	margin-bottom: 10px;
}